@model SignalRWebUi.Dtos.FeatureDto.UpdateFeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Kategori İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Kategori Girişi</div>
                        </div>
                        <input type="hidden" asp-for="FeatureID" />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">1. Başlığı giriniz</label>
                                <input type="text" class="form-control" asp-for="Title1" id="categoryname">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">2. Başlığı giriniz</label>
                                <input type="text" class="form-control" asp-for="Title2" id="categoryname">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">3. Başlığı giriniz</label>
                                <input type="text" class="form-control" asp-for="Title3" id="categoryname">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">1. Açıklamayı giriniz</label>
                                <input type="text" class="form-control" asp-for="Description1" id="categoryname">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">2. Açıklamayı giriniz</label>
                                <input type="text" class="form-control" asp-for="Description2" id="categoryname">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">3. Açıklamayı giriniz</label>
                                <input type="text" class="form-control" asp-for="Description3" id="categoryname">
                            </div>
                        </div>

                        <div class="card-action">
                            <button class="btn btn-primary">Öne çıkanı güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

